* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #eaedf0;
  display :flex;
  /* font-size: large; */
  text-align: center;
  align-items:center;
  gap:70px;
  margin:20px 20px;
  margin-bottom: 70px;
  height:110px;
border: #ccc;
border-radius:30px ;
}
.navigate-button{
  position: absolute;
  right:20px;
}
.filter {
  width:500px;
  height: 70px;
}
input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #100f0f;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #82b1ad;
  color: #fff;
  border:1px solid #6b6565 ;
  border-radius: 9px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #3e556e;
}
table {
  width: 900px;
  border-collapse: collapse;
  margin-left: 50px;
  margin-top: 5px;
  height:auto;
}

.teacher-table button {
  margin-left: 50px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #af5353;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}



.overlay {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 2000;
  justify-content: center;
  align-items: center;
  display:flex;
}

.add-courses {
  background-color: #fff;
  padding: 20px;
  width: 600px;
}


.add-courses input[type="text"],
.add-courses input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.add-courses .error {
  color: red;
}
